body {
    background-color: #E1FFB1;
}

h1 {
    color: #C7F2A4;
}

p {
    color: #B6E388;
}

#wrapper,
#dht11 {
    width: 100%;
    float: left;
    clear: left;
}

.block {
    width: auto;
    align-content: center;
    display: inline-block;
}

.gauge {
    width: auto;
    height: 300px;
    display: inline-block;
    border: 1px solid #ccc;
    margin: 5px;
}

#gauge5>svg:nth-child(1)>text:nth-child(6) {
    font-size: 28px !important;
}


.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    background-color: #778899;
}

/*
.grid-container > div {
  text-align: center;
}
*/