<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="refresh" content="5">

<script src="{{url_for('static', filename='javascript/justgage.js')}}"></script>
<script src="{{url_for('static', filename='javascript/raphael-2.1.4.min.js')}}"></script>

<html>

<head>
    <link rel="stylesheet" href="../static/css/style.css/">

    <title> LemonPi </title>

    <style>
        body {
            background-color: #21263A;
        }

        h1 {
            color: #3CB371;
        }

        p {
            color: #F5F5F5;
        }
    </style>

</head>

<body>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_agde5pma.json" background="transparent" speed="1"
        style="width: 300px; height: 300px;" loop controls autoplay></lottie-player>
    <h1 style="margin-left: 220px; margin-top: 50px"> Horta 2.0 </h1>

    <div id="dht11">
        <div class="block">
            <div id="gauge1" class="gauge">
                <script>
                    var gauge1 = new JustGage({
                        id: "gauge1",
                        value: {{ temperature }},
                    levelColors: ['#EC7063', '#F4D03F', '#58D68D'],
                        symbol: '\u2103',
                            min: 0,
                                decimals: 1,
                                    max: 50,
                                        title: "Temperature"
                });
                </script>
            </div>
        </div>

        <div class="block">
            <div id="gauge2" class="gauge">
                <script>
                    var gauge2 = new JustGage({
                        id: "gauge2",
                        value: {{ humidity }},
                    symbol: "%",
                        min: 0,
                            decimals: 2,
                                max: 100,
                                    title: "Humidity"
                });
                </script>
            </div>
        </div>

        <div class="block">
            <div id="gauge3" class="gauge">
                <script>
                    var gauge3 = new JustGage({
                        id: "gauge3",
                        value: {{ soil_moisture }},
                    symbol: "mV",
                        min: 0,
                            decimals: 2,
                                max: 100,
                                    title: "Soil Moisture"
                });
                </script>
            </div>
        </div>

    </div>

    <div id="containers" class="grid-container">
        <div>
            <div class="block">
                <div id="gauge4" class="gauge">
                    <script>
                        var gauge4 = new JustGage({
                            id: "gauge4",
                            value: 123, < !--{{ light }}, -->
                                levelColors: ['#58D68D', '#F4D03F', '#EC7063'],
                                    min: 0,
                                        decimals: 0,
                                            max: 1024,
                                                title: "Tomate"
            });
                    </script>
                </div>
            </div>
        </div>
        <div>
            <div class="block">
                <div id="gauge5" class="gauge">
                    <script>
                        var gauge5 = new JustGage({
                            id: "gauge5",
                            value: 432,< !--{{ temp }}, -->
                                levelColors: ['#58D68D', '#F4D03F', '#EC7063'],
                                    min: 0,
                                        decimals: 0,
                                            max: 1024,
                                                title: "Alface 1"
            });
                    </script>
                </div>
            </div>
        </div>
        <div>
            <div class="block">
                <div id="gauge6" class="gauge">
                    <script>
                        var gauge6 = new JustGage({
                            id: "gauge6",
                            value: 765,< !--{{ temp }}, -->
                                levelColors: ['#58D68D', '#F4D03F', '#EC7063'],
                                    min: 0,
                                        decimals: 0,
                                            max: 1024,
                                                title: "Alface 2"
            });
                    </script>
                </div>
            </div>
        </div>
        <div>
            <div class="block">
                <div id="gauge7" class="gauge">
                    <script>
                        var gauge7 = new JustGage({
                            id: "gauge7",
                            value: 987,< !--{{ temp }}, -->
                                levelColors: ['#58D68D', '#F4D03F', '#EC7063'],
                                    min: 0,
                                        decimals: 0,
                                            max: 1024,
                                                title: "Pimento"
            });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <p>@2020 Developed by Gonçalo Calvinho</p>

</body>

</html>