<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="refresh" content="15">

<script src="{{url_for('static', filename='javascript/justgage.js')}}"></script>
<script src="{{url_for('static', filename='javascript/raphael-2.1.4.min.js')}}"></script>

<html>

<head>
    <link rel="stylesheet" href="../static/css/style.css/">

    <title> LemonPi </title>

</head>

<body>

    <h1 style="margin-left: 220px; margin-top: 50px">🪴 LemonPi 🪴</h1>

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_agde5pma.json" background="transparent" speed="1"
        style="width: 300px; height: 300px;" loop autoplay></lottie-player>
    <div id="dht11">
        <div class="block">
            <div id="gauge1" class="gauge">
                <script>
                    var gauge1 = new JustGage({
                        id: "gauge1",
                        value: {{ temperature }},
                    levelColors: ['#A8C7F2', '#58D68D', '#EC7063'],
                        symbol: '\u2103',
                            min: 0,
                                decimals: 1,
                                    max: 50,
                                        title: "Temperature"
                });
                </script>
            </div>
        </div>

        <div class="block">
            <div id="gauge2" class="gauge">
                <script>
                    var gauge2 = new JustGage({
                        id: "gauge2",
                        value: {{ humidity }},
                    levelColors: ['#A8C7F2', '#58D68D', '#EC7063'],
                        symbol: "%",
                            min: 0,
                                decimals: 2,
                                    max: 100,
                                        title: "Humidity"
                });
                </script>
            </div>
        </div>

        <div class="block">
            <div id="gauge3" class="gauge">
                <script>
                    var gauge3 = new JustGage({
                        id: "gauge3",
                        value: {{ soil_moisture }},
                    levelColors: ['#A8C7F2', '#58D68D', '#EC7063'],
                        symbol: "%",
                            min: 0,
                                decimals: 2,
                                    max: 100,
                                        title: "Soil Moisture"
                });
                </script>
            </div>
        </div>

    </div>

    <footer>
        <div class="footerCol">
            <div class="container">
                <div class="copyrightCol">
                    <p style="color: #18A558;">©
                        <script>document.write(new Date().getFullYear());</script> Developed by Gonçalo Calvinho.
                    </p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>